---
title: Partner Norauto - Smart Solutions
---
<!-- <div id="header"> -->

<!-- </div> -->
    <div class="container">
      <div class="row">
       <!-- image_tag "logo.png", width: "200"  -->
       <% data.partners.each do |name, params| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card ptn">
            <%= image_tag params.picture "test" %>
            <!-- <p> <%= name.capitalize %></p> -->
            <% link_to "#{params.link}", target: "_blank" do %>
            <div class="btn-lg btn-primary font-weight-light">Access to the form</div>
            <% end %>
          </div>
        </div>
       <% end %>
     </div>
   </div>

